body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.image-container {
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 1s;
}

.image-container span {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}

.image-container span img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.btn-container {
    position: relative;
    width: 100%;
}

.btn {
    position: absolute;
    bottom: -80px;
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
}

#prev {
    left: 20%;
}

#next {
    right: 20%;
}

.btn:hover {
    filter: brightness(1.5);
}